# Toronto Dwellings Analysis Dashboard

In this notebook, you will compile the visualizations from the previous analysis into functions to create a Panel dashboard.

In [8]:
# imports
import panel as pn
pn.extension('plotly')
import plotly.express as px
import pandas as pd
import hvplot.pandas
import matplotlib.pyplot as plt
import os
from pathlib import Path
from dotenv import load_dotenv

In [9]:
# Initialize the Panel Extensions (for Plotly)
import panel as pn
pn.extension("plotly")

In [10]:
# Read the Mapbox API key
load_dotenv()
map_box_api = os.getenv("mapbox")
px.set_mapbox_access_token(map_box_api)

# Import Data

In [11]:
# Import the CSVs to Pandas DataFrames
file_path = Path("Data/toronto_neighbourhoods_census_data.csv")
to_data = pd.read_csv(file_path, index_col="year")

file_path = Path("Data/toronto_neighbourhoods_coordinates.csv")
df_neighbourhood_locations = pd.read_csv(file_path)

In [12]:
to_data.columns

Index(['neighbourhood', 'single_detached_house', 'apartment_five_storeys_plus',
       'movable_dwelling', 'semi_detached_house', 'row_house', 'duplex',
       'apartment_five_storeys_less', 'other_house', 'average_house_value',
       'shelter_costs_owned', 'shelter_costs_rented'],
      dtype='object')

In [13]:
to_data.head()

,neighbourhood,single_detached_house,apartment_five_storeys_plus,movable_dwelling,semi_detached_house,row_house,duplex,apartment_five_storeys_less,other_house,average_house_value,shelter_costs_owned,shelter_costs_rented
year,,,,,,,,,,,,
2001,Agincourt North,3715,1480,0,1055,1295,195,185,5,200388,810,870
2001,Agincourt South-Malvern West,3250,1835,0,545,455,105,425,0,203047,806,892
2001,Alderwood,3175,315,0,470,50,185,370,0,259998,817,924
2001,Annex,1060,6090,5,1980,605,275,3710,165,453850,1027,1378
2001,Banbury-Don Mills,3615,4465,0,240,380,15,1360,0,371864,1007,1163

### Global available data

In [22]:
# Getting the data from the top 10 expensive neighbourhoods
df_top_exp=to_data.groupby('neighbourhood').mean()
df_top-exp=df_top_exp.sort_values('average_house_value',ascending=False).reset_index():
fig_top_exp=plt.figure()
plot_top_exp=df_top_exp.plot.bar()
plot_top_exp.set_xlabel("neighbourhood")
plot_top_exp.set_ylabel("average_house_value")
plot_top_exp.set_title("The top 10expensive neighbourhoods")

# Calculate the mean number of dwelling types units per year
def number_of_dwelling_types_unit_per_year():
    df_num_dwelling=to_data['moveable_dwelling'].groupby(to_data.index).mean()
    fig_num_dwelling=plt.figure()
    plot_num_dwelling=df_num_dwelling.plot.bar()
    plot_num_dwelling.set_xlabel("year")
    plot_num_dwelling.set_ylabel("mean number of dwelling types units per year")


# Calculate the average monthly shelter costs for owned and rented dwellings
def_average_monthly_shelter_cost()
df_monthly_shelter_cost=to_data.groupby(to_data.inex).mean()
df_monthly_shelter_cost=df_monthly_shelter_cost.drop[('single_detached_house','apartment_five_storeys_plus',fig_monthly_shelter_cost_plt.figure)]
plot_monthly_shelter_cost=df_monthly.shelter_cost.plot.bar()
plot_monthly_shelter_cost.st_xlabel("shelter_costs_owned","shelter_costs_rental.dwelling")

SyntaxError: invalid syntax (<ipython-input-22-2a0338d4d652>, line 3)

### Panel Visualization Functions

In [23]:
# Define Panel visualization functions
def neighbourhood_map():
    """Neighbourhood Map"""
   
    file_path=Path("toronto_neighbourhoods_coordinate.csv")
    df_neighbourhood_locations=pd.read_csv(file_path)

def create_bar_chart(data, title, xlabel, ylabel, color):
    """
    Create a barplot based in the data argument.
    """
    
    fig=plt.figure()
    bar=df_neighbourhood_locations.plot.bar(color=color)
    Set_xlabel=xlabel
    Set_ylabel=ylabel
    title=title
    plt.show()
    plt.close(fig)
    return plot

    

def create_line_chart(data, title, xlabel, ylabel, color):
    """
    Create a line chart based in the data argument.
    """
    
    

def average_house_value():
    """Average house values per year."""
    
    # YOUR CODE HERE!

def average_value_by_neighbourhood():
    """Average house values by neighbourhood."""
    
    # YOUR CODE HERE!

def number_dwelling_types():
    """Number of dwelling types per year"""
    
    # YOUR CODE HERE!

def average_house_value_snapshot():
    """Average house value for all Toronto's neighbourhoods per year."""

    # YOUR CODE HERE!

def top_most_expensive_neighbourhoods():
    """Top 10 most expensive neighbourhoods."""
    
    # YOUR CODE HERE!

def sunburts_cost_analysis():
    """Sunburst chart to conduct a costs analysis of most expensive neighbourhoods in Toronto per year."""
    
    # YOUR CODE HERE!

## Panel Dashboard

In this section, you will combine all of the plots into a single dashboard view using Panel. Be creative with your dashboard design!

In [ ]:
# Create a Title for the Dashboard
# YOUR CODE HERE!

# Define a welcome text
# YOUR CODE HERE!

# Create a tab layout for the dashboard
# YOUR CODE HERE!


# Create the main dashboard
# YOUR CODE HERE!

## Serve the Panel Dashboard

In [ ]:
dashboard.servable()

# Debugging

Note: Some of the Plotly express plots may not render in the notebook through the panel functions.

However, you can test each plot by uncommenting the following code

In [ ]:
# neighbourhood_map().show()

In [ ]:
# create_bar_chart(data, title, xlabel, ylabel, color)

# # Bar chart for 2001
# create_bar_chart(df_dwelling_units.loc[2001], "Dwelling Types in Toronto in 2001", "2001", "Dwelling Type Units", "red")

# # Bar chart for 2006
# create_bar_chart(df_dwelling_units.loc[2006], "Dwelling Types in Toronto in 2006", "2006", "Dwelling Type Units", "blue")

# # Bar chart for 2011
# create_bar_chart(df_dwelling_units.loc[2011], "Dwelling Types in Toronto in 2011", "2011", "Dwelling Type Units", "orange")

# # Bar chart for 2016
# create_bar_chart(df_dwelling_units.loc[2016], "Dwelling Types in Toronto in 2016", "2016", "Dwelling Type Units", "magenta")

In [ ]:
# create_line_chart(data, title, xlabel, ylabel, color)

# # Line chart for owned dwellings
# create_line_chart(df_avg_costs["shelter_costs_owned"], "Average Monthly Shelter Cost for Owned Dwellings in Toronto", "Year", "Avg Monthly Shelter Costs", "blue")

# # Line chart for rented dwellings
# create_line_chart(df_avg_costs["shelter_costs_rented"], "Average Monthly Shelter Cost for Rented Dwellings in Toronto", "Year", "Avg Monthly Shelter Costs", "orange")

In [ ]:
# average_house_value()

In [ ]:
# average_value_by_neighbourhood()

In [ ]:
# number_dwelling_types()

In [ ]:
# average_house_value_snapshot()

In [ ]:
# top_most_expensive_neighbourhoods()

In [ ]:
# sunburts_cost_analysis()